<div class="book">
  <div class="page income-page">
    <h2>収入</h2>
    <ul>
      <li>2025/04/01 - ¥50,000 - アルバイト</li>
      <!-- 他の収入 -->
    </ul>
  </div>
  <div class="page expense-page">
    <h2>支出</h2>
    <ul>
      <li>2025/04/01 - ¥1,200 - 食費</li>
      <!-- 他の支出 -->
    </ul>
  </div>
</div>