<div class="book">
  <!-- 左ページ -->
  <div class="page left-page">
    <div class="tabs">
      <button class="tab active"><p class="date white-text"><%= Date.today.strftime('%Y/%m/%d') %></p></button>
      <button class="tab">収入入力</button>
      <button class="tab">支出入力</button>
      <button class="tab">アルバム</button>
      <button class="tab">分析</button>
      <button class="tab">日記</button>
    </div>
    <div class="tab-content">
      <h2>aaa</h2>
      <ul>
        <li>aaa</li>
      </ul>
    </div>
  </div>

  <!-- 右ページ -->
  <div class="page">
    <h2>aaa</h2>
    <ul>
      <li>aaa</li>
    </ul>
  </div>
</div>